<h1>Geosite</h1>

<h1>Last 10 Page Loads</h1>
<table>

  <% @requests.each do |request| %>
    <tr>
      <td><%= request.created_at %></td>
      <td><%= link_to 'Show', api_path(request) %></td>
    </tr>
  <% end %>
</table>

<h1><%= @date %></h1>
<h1><%= @cpuinfo %></h1>
<h1><%= @test_req %></h1>